<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo mb-4">

  <h1 class="navbar-brand" >Recetas</h1>

  <div class="navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline ml-auto" [formGroup]="form">
      <div class="md-form my-0">
        <input #title class="form-control" type="text" placeholder="Search" aria-label="Search"
        formControlName="recipe" (keyup)="sendTitleRecipe(title.value)" >
      </div>
    </form>

  </div>
</nav>
<!--/.Navbar-->