
<div class="content" *ngIf="listRecipe.length !==0">
  <div class="card" 
       *ngFor="let item of listRecipe;let indice=index">
       <img class="card-img-top" [src]="imagen(item.thumbnail)" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.ingredientes}}</p>
      <p class="card-text">
        <small class="text-muted">{{item.href}}</small>
      </p>

    </div>
  </div>
</div>
