/* You can add global styles to this file, and also import other style files */


.content {
  text-align: center;
}
.navbar{
 /*  width: 30rem;
  margin: 2rem; */

  @media (max-width: 760px) {
    width: 30rem;
    margin: 2rem;
  }
}
.navbar-collapse {
  @media (max-width: 760px) {
    flex-basis: 46%;
    flex-grow: 0;
  }
}